{% extends "base.html" %}
{% load static %}
{% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.js" integrity="sha512-b3xr4frvDIeyC3gqR1/iOi6T+m3pLlQyXNuvn5FiRrrKiMUJK3du2QqZbCywH6JxS5EOfW0DY0M6WwdXFbCBLQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js" integrity="sha512-Wt1bJGtlnMtGP0dqNFH1xlkLBNpEodaiQ8ZN5JLA5wpc1sUlk/O5uuOMNgvzddzkpvZ9GLyYNa8w2s7rqiTk5Q==" crossorigin="anonymous" referrerpolicy="no-referrer" type="application/javascript"></script> -->
{% endblock %}
{% block page_header %}
{% endblock %}

{% block content %}

<div class="container h-100">
    <div class="row h-100">
        <div class="col-10 col-md-8 my-auto">
            <h1 class="index-h">
                Citizen Tree
            </h1>
            <h2 class="index-h">Helping human networks to plant trees. Welcome! </h2>
            
            {% if user.is_authenticated %}
                <p>Hi {{ user.username }}!</p>
                <p><a href="{% url 'account_logout' %}">Log Out</a></p>
            {% else %}
                <p>You are not logged in</p>
                <a href="{% url 'account_login' %}">Log In</a>  
                <a href="{% url 'account_signup' %}">Sign Up</a>
            {% endif %}    
        </div>
    </div>
    <hr/>
    <div class="options">
        <a class="btn btn-success ms4-btn" href="{% url 'projects:projects' %}">All Projects</a>
        <a class="btn btn-success ms4-btn" href="{% url 'calculator:calc' %}">Calculate My Footprint and Potential Offsets</a>
        <a class="btn btn-success ms4-btn" href="{% url 'calculator:calc' %}">About Citizen Tree</a>
        {% if user.is_authenticated %}
        <a class="btn btn-success ms4-btn" href="{% url 'donations:donate-landing' %}">Donate</a>
        {% endif %}
    </div>
<hr>
    <h3 class="index-h">Donations so far have helped Citizen Tree projects sequester {{ total_sink }} Kg of CO2 annually.</h3>
    <br>
    <p>Unfortunately, the perspective of the bigger picture shows how far we have to go, Irelands annual emission are a fairly steady 60 million tonnes. 
        A tonne is Kg*1000, so that's 60 billion Kg. Can you give a hand to start changing the colour of the doughnut?*</p>
    <small class="emissions-note">*Note: Value units in the doughnut are not equal. The sink is scaled x1000 (Kg) relative to emissions (tonne).</small>


  <br>
  <br>

    <!-- https://www.chartjs.org/docs/latest/getting-started/ 
    https://www.chartjs.org/docs/latest/configuration/responsive.html#configuration-options-->

    <div class="mx-auto chart-container">
        <canvas id="co2_doughnut" ></canvas>
    </div>
    
</div>
<input type="hidden" id="chartVal" name="variable" value="{{ total_sink }}">
{% endblock %}

{% block extra_page_specific_js %}
{{ block.super }}
<!-- 
https://adamj.eu/tech/2020/02/18/safely-including-data-for-javascript-in-a-django-template/ 
https://docs.djangoproject.com/en/3.0/ref/templates/builtins/#json-script
-->

{{ d_sink_js|json_script:"d_sink_chart" }}
<script src="{% static 'js/pie.js' %}" type="text/javascript" ></script>
{% endblock %}