[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "==2.8.5"
django-crispy-forms = "*"
django-allauth = "*"
djangorestframework = "*"
stripe = "*"
django-environ = "*"

[requires]
python_version = "3.6"

[dev-packages]
