{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block extra_js %}
<script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
{% endblock %}

{% block extra_title %} - Donate{% endblock %}

{% block content %}

<div class="page-desc">
    <h1 class="index-h">Donate to Citizen Tree</h1>
</div>
<section>
  <div class="donation">
      <div class="description">
          
          <hr />

          <div class="donations-block">

          <p>Donations are securely processed using Stripe. We do not collect or store your credit card details.</p>
          
            
          {% for price in prices %}

          <div class="donate-block-ind">
              <h5 class="index-h">€ {{ price.get_display_price }}</h5>
              <form action="{% url 'donations:create-checkout-session' price.id %}" method="POST">
                  {% csrf_token %}
                  <button class="btn-info" type="submit">Donate Now: €{{ price.get_display_price }} </button><br>
              </form>
          </div>

          {% endfor %}

          <div class="donate-block-info">
              <p>
                  See our <a href="{% url 'calculator:calc' %}">calculations page</a> for more information on:
                  <ul>
                      <li>How your donation will be used</li>
                      <li>How we estimate the potential impact from a CO2 perspective</li>
                      <li>How different tree-planting projects sequester at different rates</li>
                  </ul> 
              </p>
          </div>
          <div class="donate-block-info">
                <p>For more information on our various projects, check out our <a href="{% url 'projects:projects' %}">Projects</a> page.</p>
        </div>
      </div>
  </div>
</section>

{% endblock %}