{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block extra_js %}
<script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
{% endblock %}

{% block extra_title %} - Donate{% endblock %}

{% block content %}

<div><h1>Donate to Citizen Tree</h1></div>
<section>
  <div class="donation">
      <div class="description">
          <h3>You can donate using of our 3 tiers.</h3>
          <hr />
          {% for price in prices %}

          <div>
              <h5>€ {{ price.get_display_price }}</h5>
              <form action="{% url 'donations:create-checkout-session' price.id %}" method="POST">
                  {% csrf_token %}
                  <button class="btn-success" type="submit">Donate Now: €{{ price.get_display_price }} </button><br>
                  <small style="color: yellow;">Your card will be charged €{{ price.get_display_price }}</small>
              </form>
          </div>

          {% endfor %}
      </div>
  </div>
</section>

{% endblock %}