{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}

<div class="container h-100">
    <div class="row h-100">
        <div class="col-7 col-md-6 my-auto">
            <h1 class="display-4 logo-font text-black">
                Citizen Tree
            </h1>
            <h2>{{ heading }}</h2>
            
            {% if user.is_authenticated %}
                <h3>User: {{ username }}</h3>
                <hr />
                Hi {{ user.email }}!
                <p><a href="{% url 'account_logout' %}">Log Out</a></p>
            {% else %}
                <p>You are not logged in</p>
                <a href="{% url 'account_login' %}">Log In</a>
                <a href="{% url 'account_signup' %}">Sign Up</a>
            {% endif %}    
        </div>
    </div>
</div>
<div class="album py-5 ">
<div class="container">
    <div class="row">
        {% for project in object_list %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <img class="card-img-top" src="{{ project.picture.url }}" alt="The project profile picture or default backup">
                    <div class="card-body">
                            <h4 class=""><a href="{{ project.get_absolute_url }}">{{ project.title }}</a></h4>
                            <p class="card-text">{{ project.description|truncatewords:5 }}</p> <!-- Update model to have a short_desc and include here -->
                    </div>

                </div>


            </div>
        {% endfor %}    



    </div>
</div>        
</div>







{% endblock %}