{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}

<div class="container h-100">
    <div class="row h-100">
        <div class="page-desc">
            <h1 class="index-h">Project Update</h1>
            <hr>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 pt-5">
            <img class="card-img-top" src=" {{ report.picture.url }} " alt="Image for the project update or default">
            <div class="card-body">
                <h5 class="card-title">{{ report.title }}</h5>
                <p class="card-text">{{ report.date_added }}</p>
                
                <p class="card-text"> {{ report.text }}</p>
                <a href="{% url 'projects:updates' %}" class="btn btn-primary">Back to All Updates</a>
                <a href="{% url 'projects:projupdates' report.project %}" class="btn btn-primary">Back to Updates for This Project</a>
                {% if user.is_authenticated and user.username == report.author.username %}
                <a href="{% url 'projects:report-delete' pk=report.id %}" class="btn btn-warning">Delete this Update</a>
                {% endif %}
              </div>
        </div>
    </div>
</div>

{% endblock %}