{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}

<div class="container h-100">
    <div class="row h-100">
        <div class="page-desc">
            <h1 class="index-h">Project Updates</h1>
            <hr>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        {% for update in object_list %}
        <div class="card w-75">
            <div class="card-body">
              <h5 class="card-title">{{ update.title }}</a></h5>
              <p class="card-text">{{ update.short_text }}</p>
              <p class="card-text">Added by {{ update.author }} on {{update.date_added}}</p>
              <a href="{% url 'projects:report' pk=update.id %}" class="btn btn-primary">View this update</a>
            </div>
          </div>
        {% endfor %}    
    </div>
</div>        








{% endblock %}