
<h2>Looks like we can't find what you're looking for. Sorry about that.</h2>

<hr/>

<h3>But now that you're here, let's make use of the trip with some fun facts. Did you know:</h3>

<h3>The CO2 cost of sending an email with a photo attachment can be in the region of 50g. (A regular text email may only be 4g.)</h3>

<h3>Over the course of a 100-year span, a typical tree might sequester about 1 tonne of CO2. That's the equivalent of about 20,000 emails with photo attachments.</h3>    


<small>*Source: BBC Future, Smart Guide to Climate Change</small>
<hr/>

<h3>Ok, let's go back to the home page and take it from there.</h3>
<h3><a class="btn btn-success" href="{% url 'home:index' %}">Go back to the home page</a></h3>

