{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block page_header %}
{% endblock %}

{% block content %}

<div class="container h-100">
    <div class="row h-100">
        <div class="col-12 col-md-6 my-auto">
            <h1 class="index-h">
                Citizen Tree - Your Cart
            </h1>
            
            
            {% if user.is_authenticated %}
                <h3 class="index-h">User: {{ user.username }}</h3>
                <hr />
                <p><a href="{% url 'account_logout' %}">Log Out</a></p>
            {% else %}
                <p>You are not logged in</p>
                <a href="{% url 'account_login' %}">Log In</a>
                <a href="{% url 'account_signup' %}">Sign Up</a>
            {% endif %}    
        </div>
    </div>
</div> 
<div class="cart-section">
<div class="container"> 
    <div class="row mb-5">
        <div class="col-md-12">
            <div class="cart-table">
                <table class="cart-table table table-reponsive">
                    <tbody>
                    <tr>
                        <th>Image</th>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                        <th>Actions</th>
                    </tr>
                        {% for item in order.items.all %}
                        <tr> 
                            <td class="product-thumbnail"><img src="{{ item.product.picture.url }}" alt="product image" class="img-fluid"></td>

                            <td class="product-name">
                                
                                <p>{{ item.product.title }}</p> 
                                <small>{{ item.variety.name }}</small>
                            </td>

                            <td>€{{ item.product.get_display_price }}</td>
                            
                            <td>
                                <div class="input-group mb-3 cart-input">
                                    <div class="input-group-prepend">
                                        <a href="{% url 'shop:decrease-qty' item.id %}" class = "btn btn-light"> &minus; </a>
                                    </div>
                                <input type="text" class="form-control text-center cart-qty" value="{{ item.quantity }}">
                                    <div class="input-group-append">
                                        <a href="{% url 'shop:increase-qty' item.id %}" class = "btn btn-light" style="max-width: 120px;"> &plus; </a>
                                    </div>
                                </div>
                            </td>
                            
                            <td>€{{ item.get_total_item_price_display }}</td>
                            
                            <td><a href=" {% url 'shop:remove-item' item.id %}" class="btn btn-warning btn-sm"><span><i class="fas fa-trash"></i></span></a></td>
                        </tr> 
                        {% empty %}
                        <tr>
                            <td colspan="6">Looks like your cart is empty. <a href="{% url 'shop:product-list' %}">Click here to order trees.</a> </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
              </div>

            {% if order.items.count > 0 %}    
              <div class="row">
                  <div class="col-md-6">
                      <div class="row mb-5">
                          <div class="col-md-12 text-center btn btn-info">
                              <a href="{% url 'shop:product-list' %}">Continue Shopping</a>
                          </div>
                      </div>
                  </div>

                  <div class="col-md-6 pl-5">
                      <div class="row justify-content-end">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12 text-right border-bottom mb-5">
                                    <h3 class="index-h">Cart Totals</h3>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <span><h5 class="index-h">Subtotal</h5></span>
                                </div>
                                <div class="col-md-6 text-right text-white">
                                    <strong>€{{ order.get_subtotal }}</strong>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <span><h5 class="index-h">Delivery*</h5></span>
                                    <small class="text-white">*Flat fee for all orders.</small>
                                </div>
                                <div class="col-md-6 text-right text-white">
                                    <strong>€25.00</strong>
                                </div>
                            </div>
                            <div class="row mb-5">
                                <div class="col-md-6">
                                    <span><h5 class="index-h">Total</h5></span>
                                </div>
                                <div class="col-md-6 text-right text-white">
                                    <strong>€{{ order.get_total }}</strong>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <a href="{% url 'shop:checkout' %}" class="btn btn-info btn-block">Go to Checkout</a>
                                </div>
                            </div>

                        </div>

                      </div>
                  </div>



              </div>
              {% endif %}

        </div>
    </div>
    </div>
</div>

{% endblock %}