{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}

<div class="container h-100">
    <div class="row h-100">
        <div class="col-10 col-md-10 my-auto">
            <div class="page-desc">
                <h1 class="index-h">Citizen Tree - Shop</h1>
            </div>

            {% if user.is_authenticated %}
                <h5 class="index-h">User: {{ user.username }}</h5>
                <p class="float-right"><a href="{% url 'account_logout' %}">Log Out</a></p>
            {% else %}
                <p>You are not logged in</p>
                <a href="{% url 'account_login' %}">Log In</a>
                <a href="{% url 'account_signup' %}">Sign Up</a>
            {% endif %}    
        </div>
    </div>
    <hr>
</div>
<div class="nursery-info col-10 col-md-10 my-auto">
<p>All the trees for sale in our shop are sourced from one of the project sites. They are all grafted, layered, or grown from seed on-site.</p>
<p>We are not a commercial nursery. Please do not contact us with enquiries for specific types of fruit trees or sourcing additional varieties.</p>
<p>All proceeds go towards funding future Citzen Tree projects. Thank you for shopping with us.</p>
</div>
<div class="album py-5 ">
<div class="container">
    <div class="row">
        {% for product in object_list %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <img class="card-img-top project-list-card" src="{{ product.picture.url }}" alt="The project profile picture or default backup">
                    <div class="card-body">
                            <h4 class=""><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></h4>
                            <p class="card-text">{{ product.description|truncatewords:5 }}</p> <!-- Update model to have a short_desc and include here -->
                    </div>
    
                </div>


            </div>
        {% endfor %}    



    </div>
</div>        
</div>







{% endblock %}